/* body{
    background-color: blue;
    font-size: 100px;

}

@media screen and (min-width:500px){
    body{
        background-color: red;
    
    }

    
}

@media screen and (min-width:700px){
    body{
        background-color: green;
    
    }
} */
body{
    background-color: peachpuff;
}
nav{
    display: flex;
    gap: 3px;
    justify-content: center;
    border: 2px double blue;
    padding: 10px;
}


a{
    flex-direction: row;
}
    

@media screen and (min-width:600px){
   
    nav{
        display: flex;
        align-items: center;
        gap: 3px;
        justify-content: center;
        flex-direction: column;
        border: 10px;
        border-color: red;
        margin: 10px;
        border: 7px double blue;
    
    }
    body{
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 20px;
    }
    


}